{template "public","header"}
<div class="about">
    <div class="inner clear">
      <div class="left fl">
        {php  $parentid=$CATEGORYS[$catid][parentid];}
          <div class="title">{$CATEGORYS[$parentid][catname]}</div>
            {pc:content action="category" catid="$parentid" num="25"  order="listorder ASC" return="data"}
              <ul>
            {loop $data $r}
              <li  {if $catid==$r[catid]}class="bg"{/if}><a href="{$r[url]}">{$r[catname]}</a></li>
            {/loop}
            </ul>
            {/pc}
      </div>
        <div class="right fr">
            <div class="baseTitle clear">
                <a href="{$CATEGORYS[$catid][url]}" class="left-1 fl">{$catname}</a>
                <div class="right-1 fr"><span class="fl">您当前的位置：</span><a href="{APP_PATH}">首页 ></a><a href="{$CATEGORYS[$catid][url]}">{$catname}</a></div>
            </div>
            <ul class="photoUl baguetteBox clear">
              {pc:content action="lists" catid="$catid" moreinfo="1"  order="listorder desc" num="9" return="data" page="$page"}
                {loop $data $r}
                <li>
                    <a href="{$r[imagebig]}"><div class="pic"><img src="{$r[thumb]}"></div><p>{$r[title]}</p></a>
                </li>
                {/loop}
                {/pc}
            </ul>
            <div class="pages">{$pages}</div>
        </div>
    </div>
</div>
{template "public","footer"}
